@media all and ( min-width: 600px )
    .header
        .headerContent
            .navigation
                .btnsContainer
                    .menuBtn
                        display: none
                .menuMobile
                    display: none
                .menuDesktop
                    display: flex