@import "styles/config.sass"

.jogsPlaceholderContainer
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    height: calc(100vh - #{$header-height})
    min-height: 400px
    .jogsPlaceholder
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        padding: 20px
        .iconContainer
            max-width: 200px
            margin-bottom: 70px
            display: flex
            flex-direction: column
            align-items: center
            .iconLabel
                margin-top: 30px
                font-family: "SFUI Regular"
                font-size: 24px
                text-align: center
                color: $color-neutral
.jogsPlaceholderContainer.autoHeight
    height: auto
.datePickerContainer
    background-color: $color-neutral-light
    .datePickerContent
        height: $date-picker-height
        max-width: 500px
        padding: 0 30px
        margin: 0 auto
        display: flex
        align-items: center
        justify-content: space-between
        .inputContainer
            text-align: center
            &:first-of-type
                margin-right: 15px
            .inputText
                display: inline-block
                color: $color-neutral
                font-family: "SFUI Regular"
                margin-right: 15px
                margin-bottom: 5px
            .input
                border-radius: 10px
                border: 2px solid $color-neutral
                padding: 8px

.jogListContainer
    height: calc(100vh - #{$header-height})
    overflow: auto
    &.openDatePicker
        height: calc(100vh - #{$header-height} - #{$date-picker-height})
    .jogsList
        .jogElementContainer
            border-bottom: 2px solid $color-neutral-light
            cursor: pointer
            transition: .3s
            &:hover
                background-color: $color-neutral-light
            .jogElement
                display: flex
                justify-content: space-between
                align-items: center
                padding: 45px 60px
                max-width: 300px
                margin: 0 auto
                .iconContainer
                    max-width: 90px
                .jogInfo
                    margin-left: 50px
                    .date, .speed, .distance, .time
                        font-family: "SFUI Regular"
                        color: $color-neutral
                        margin-bottom: 10px
                        .accent
                            color: $color-neutral-dark
                    .time
                        margin-bottom: 0
.addJogBtn
    background-color: $color-neutral-lightest
    position: fixed
    bottom: 30px
    right: 30px


@import "./media.module"